<div data-ng-controller="bargraphController">
  <div class="row vertical-spacer-medium">
  </div>
  <div class="row">
    <div class="six columns">
      <div data-fss-bar-graph data-items="items"></div>
    </div>
    <div class="six columns">
      <div class="row" data-ng-repeat="item in items">
        <div class="three columns">
          {{item.text}} count: 
        </div>
        <div class="three columns end">
            <input type="number" data-ng-model="item.count">
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <input type="text" data-ng-model="temp.name"placeholder="Enter name">
        </div>
        <div class="three columns end">
          <input type="number" data-ng-model="temp.number">
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <button data-ng-click="addItem()" name="Add item">Add item</button>
        </div>
      </div>
    </div>
  </div>
</div>
