/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.vertical-spacer-small {
    margin-top:20px;
}

.vertical-spacer-medium {
    margin-top:60px;
}

.graph-container .bar.green-bar {
    background-color: #00ff00;
}

.graph-container .bar.blue-bar {
    background-color: #0000ff;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


