<div data-ng-controller="DateController">
  <div class="row vertical-spacer-medium">
  </div>
  <div class="row">
    <div class="six columns">
      <h4>Date shim (native)</h4>
      <form name="simpleForm">
        <div data-fss-date-shim data-ng-model="simple" data-native-picker="true"></div>
      </form>
      <span>Model value: {{simple}}</span>
      <span data-ng-show="simpleForm.dateShim.$error.validDate">Invalid date</span>
      <span data-ng-show="simpleForm.dateShim.$error.currentDate">Date is in the past</span>
    </div>
    <div class="six columns">
      <h4>Date shim (text)</h4>
      <form name="simpleTextForm">
        <div data-fss-date-shim data-ng-model="simpleText" data-native-picker="false"></div>
      </form>
      <span>Model value: {{simpleText}}</span><br>
      <span data-ng-show="simpleTextForm.dateShim.$error.validDate">Invalid date</span><br>
      <span data-ng-show="simpleTextForm.dateShim.$error.currentDate">Date is in the past</span>
    </div>    
  </div>
  <div class="row">
    <div class="six columns">
      <h4>Date shim with iso-date (native)</h4>
      <form name="isoForm">
        <div data-fss-date-shim data-ng-model="iso" data-native-picker="true" data-iso-date></div>
      </form>
      <span>Model value: {{iso}}</span><br>
      <span data-ng-show="isoForm.dateShim.$error.validDate">Invalid date</span><br>
      <span data-ng-show="isoForm.dateShim.$error.currentDate">Date is in the past</span>
    </div>
    <div class="six columns">
      <h4>Date shim with iso-date (text)</h4>
      <form name="isoTextForm">
        <div data-fss-date-shim data-ng-model="isoText" data-native-picker="false" data-iso-date></div>
      </form>
      <span>Model value: {{isoText}}</span><br>
      <span data-ng-show="isoTextForm.dateShim.$error.validDate">Invalid date</span><br>
      <span data-ng-show="isoTextForm.dateShim.$error.currentDate">Date is in the past</span>
    </div>
    
  </div>
  <div class="row">
    <div class="six columns">
      <h4>Date shim iso-date and future (native)</h4>
      <form name="futureForm">
        <div data-fss-date-shim data-ng-model="future" data-native-picker="true" data-iso-date data-future></div>
      </form>
      <span>Model value: {{future}}</span><br>
      <span data-ng-show="futureForm.dateShim.$error.validDate">Invalid date</span><br>
      <span data-ng-show="futureForm.dateShim.$error.currentDate">Date is in the past</span>
    </div>
    <div class="six columns">
      <h4>Date shim iso-date and future (text)</h4>
      <form name="futureTextForm">
        <div data-fss-date-shim data-ng-model="futureText" data-native-picker="false" data-iso-date data-future></div>
      </form>
      <span>Model value: {{futureText}}</span><br>
      <span data-ng-show="futureTextForm.dateShim.$error.validDate">Invalid date</span><br>
      <span data-ng-show="futureTextForm.dateShim.$error.currentDate">Date is in the past</span>
    </div>    
  </div>
  
</div>
